<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Skypelogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <!--
    This writes the log information to the console window.  It only logs events
    that are at least at the INFO level (which would mean that DEBUG events are not
    captured.
    -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline%exception"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <!--
    This stores information in the mylogfile.txt file.  It only captures log events
    that contain the key word test or error.
    -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <!--<filter type="log4net.Filter.StringMatchFilter">
          <stringToMatch value="test" />
        </filter>
        <filter type="log4net.Filter.StringMatchFilter">
          <stringToMatch value="error" />
        </filter>
        <filter type="log4net.Filter.DenyAllFilter" />-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>

    <appender name="TextboxAppender" type="Skypelogger.TextBoxAppender, SkypeLogger">
      <formName value="Program"/>
      <textBoxName value="consoleBox"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="TextboxAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <userSettings>
    <Skypelogger.Properties.Settings>
      <setting name="LogFolder" serializeAs="String">
        <value />
      </setting>
    </Skypelogger.Properties.Settings>
  </userSettings>
</configuration>